# Crie uma cópia deste arquivo com o nome .env.local
# e adicione o seu token do GitHub abaixo para evitar o erro de Rate Limit.

# Tutorial de como gerar um token (apenas permissão public_repo ou sem permissões adicionais):
# https://github.com/settings/tokens/new
VITE_GITHUB_TOKEN=seu_token_aqui
